.Header {
  height: 10rem;
  padding: 1rem 0;
  width: 100%;
  background-color: #2a80e2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header h2 {
  padding: 1rem;
  font-size: 2rem;
  color: #ffffff;
}

.HeaderButtons {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.HeaderButtons button {
  margin: 0;
}

