.CartItem {
  list-style: none;
}

.CartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.CartItem img {
  width: 6rem;
  height: 5rem;
}

.CartItem span {
  font-size: 1.6rem;
  margin: 0 .5rem;
}